
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
              <div class="text-center">
               Login<br><br><br>
              <!-- <h6>Please enter email and password!</h6>-->  
              </div>
                <form>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label><br>
                          <input FormControlName="email" Formtype="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br><br>
                         <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label1">Password</label><br>
                          <input FormControlName="password" type="password" class="form-control" id="exampleInputPassword1"><br>
                          <h5> <a routerlink="\forgetpassword" href="forgetpassword"  style="color:whitesmoke">Forgot Password </a></h5>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                    </form>
            </div>
        </div>
    </div>

</div>

<div class="signup">
  <h4>Don't have an account  <a href="signup" routerlink="/signup"> sign up </a></h4>
</div>