.card{
    margin-top:10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}
.btn-primary{
    position: absolute;
    margin: 0;
    margin-left: 35%;
    height: 12%;
    width: 15%;
    font-style: normal;
    color: black;


}

.text-center{
   text-align: center;
   color: white;
    font-weight: 200;
    padding-top: 5%;
    font-size:xx-large
    


}
.form-label{
    
    color:white;
    font-size: large;
   

}
#exampleInputEmail1{
  
    padding: 1%;
  
    box-sizing: border-box;
    width: 100%;

}
#exampleInputPassword1{
padding: 1%;
width: 100%;
}
.form-label1{
    color:white;
    font-size: large;
    
}
.signup{
    padding-left: 45%;
    padding-top: 37%;
    font-size: x-large;
    color: black;
    font-weight: 500;
}
.mb-3 h5{
    text-align: end;
    color: darkred;
    font-style: normal;
    text-decoration: darkred;
}
