.container{
    margin:0px;
    height:100%;
    width:100%;
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}

#exampleInputEmail1{
    width: 40%;
    padding: 1%;
    margin-left: 23%;
    margin-top: 15%;
}
.btn-primary{
    
    position: absolute;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 8%;
    font-size: 16px;
    padding: 1%;
    width: 8%;
    margin-top: 16.4%;
    


  }
  .btn-primary:hover {
    background-color: black;
    color: white;
  }
 
 
    

