
 <div class="container">
    <div class="textcenter">Kriova</div>
    
    

     
      
       
        <button routerLink="/signup" class="btn" >Register</button>
        <button routerLink="/login" class="btn1">Login</button>
        <div class="pretext">
        <pre>
            We are a group of experienced engineers and designers in love with building applications of<br>
            diverse nature including web and mobile. We value not only the look of what we build but<br>
            even more the process we follow, architecture we use, designs we choose, implement. For us<br>
            building applications is a scientific art achieved through thorough use of Agile practices.<br>
             We participate in all phases of software development lifecycle and specialize in product<br> 
             development.</pre>
            </div>
    </div>
    
      
   
 